{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %} All About Dan {% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <h1>Hey! I'm Dan W Anderson</h1>
            <p>
                I'm a software engineer/data scientist living in Chicago IL. I like to think about things, and then overthink them, whether it's programming, philosophy, science fiction, homebrewing, or long distance running.
            </p>

            <h2>Why this blog?</h2>
            <p>
                If you've ever found yourself toiling through some unnecessarily difficult programming task, or wondering about the ethical implications of sentient AI, this site will hopefully help.
            </p>

            <p>
                I like learning, and sharing what I've learned with others, and hearing their feedback, and continuing the cycle. Some of the most interesting and important insights come about accidentally and randomly - nothing is more fascinating to me than when a seemingly unrelated topic suddenly becomes perfectly intertwined.
            </p>

            <h2>Fun Facts:</h2>
            <ul>
                <li>I'm bizarrely passionate about <a href="/blogs/3">anagrams</a> and something called <a href="http://www.thephoenixsociety.org/puzzles/puzzles.htm">The Headline Puzz</a></li>
                <li>I &hearts; <a href="https://github.com/anderson-dan-w">GitHub</a></li>
                <li>I'm not sure which Douglas is my favorite: <a href="https://en.wikipedia.org/wiki/Douglas_Hofstadter">Hofstadter</a> or <a href="https://en.wikipedia.org/wiki/Douglas_Adams">Adams</a></li>
                <li>I homebrew beer, and my favorite so far has been a <a href="https://untappd.com/b/dan-and-teds-limited-adventure-heavy-traffic-coffee-porter/1608315">Cold Brew Coffee Porter</a></li>
                <li>I'd like to run a marathon sometime in 2017</li>
            </ul>

            <p>
            <a href="https://twitter.com/cerebral_storm" class="twitter-follow-button" data-show-count="false">Follow @cerebral_storm</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </p>
        </div>
        <div class="col-lg-4 col-md-4">
            <img src="/static/dan-photo.jpg"></img>
        </div>
    </div>
</div>

<script>
$("#home")[0].classList.remove("active");
$("#about")[0].classList.add("active");
</script>

{% endblock %}
