{% extends "base.html" %}
{% load staticfiles %}

{% block cssfiles %}
<link rel=stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/styles/androidstudio.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block content %}
{% if blogIndex %}
<h2> {{ title }} </h2>
<div>
{% for tag in tags %}
    <button type="button" class="btn btn-sm btn-info">{{ tag }}</button>
{% endfor %}
</div>
<div> {% autoescape off %}{{ text }}{% endautoescape %}</div>
{% endif %}


<script>
$("#home")[0].classList.remove("active");
$("#blogs")[0].classList.add("active");
</script>
{% endblock %}

