{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="{% static 'lightning-logo.jpg'%}">
    </a>
    <h1> All Things Dan <h1>
    <p> A conglomeration of all the things that interest me, or that I think are worth sharing for eternity on the interweb.
    </p>
  </div>
</div>
<div class="container">
  <div class="alert alert-danger text-center" role="alert">
      This is (as of 2016-07-23) still just a work in progress. Rolling most of it by hand (through Heroku, using Python Django) and is a way for me to experiment with WebDev, Python, and writing. Nothing on here is promised to be correct, accurate, or even reasonable. There is no guarantee I won't trash it all and delete everything (or accidentally lose it...) tomorrow. It's all just in the pursuit of knowledge and fun.
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-info-sign"></span> How this sample app works</h3>
      <ul>
        <li>This app was deployed to Heroku, either using Git or by using <a href="https://github.com/heroku/python-getting-started">Heroku Button</a> on the repository.</li>

      </ul>
    </div>
    <div class="col-md-6">
      <h3><span class="glyphicon glyphicon-link"></span> Helpful Links</h3>
      <ul>
        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-python">Getting Started with Python on Heroku</a></li>
      </ul>
    </div>
  </div> <!-- row -->
</div>
{% endblock %}
